.nav-bar-title {
    margin-top: 10px;
    padding-top: 4px;
    padding-left: 20px;
    padding-bottom: 4px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.nav-bar-sub {
    display: none;
}

.nav-bar-alpha {
}

.nav-bar-alpha-title {
    margin-top: 10px;
    padding-top: 4px;
    padding-left: 20px;
    padding-bottom: 4px;
    text-align: left;
    cursor: pointer;
}

    .nav-bar-alpha-title:hover {
        background-color: #ccc;
    }

.nav-bar-beta {
}

.nav-bar-beta-title {
    margin-top: 5px;
    padding-top: 2px;
    padding-left: 30px;
    padding-bottom: 2px;
    font-size: 14px;
    text-align: left;
    cursor: pointer;
}

    .nav-bar-beta-title:hover {
        background-color: #d4d4d4;
    }





.nav-bar-menu {
    width: 205px;
    margin: 0 auto;
    overflow: auto;
    font: 12px/1.5 Tahoma,Arial,sans-serif;
    text-align:left;
}

    .nav-bar-menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align:left;
    }

        .nav-bar-menu ul li {
            text-indent: 1em;
            white-space: nowrap;
            
        }

            .nav-bar-menu ul li h2 {
                cursor: pointer;
                height: 100%;
                width: 100%;
                margin: 0 0 1px 0;
                padding-top:5px;
                font: 16px/31px '微软雅黑';
                font-weight:bold;
                
            }

            .nav-bar-menu ul li a {
                display: block;
                outline: none;
                height: 25px;
                line-height: 25px;
                color: #1A385C;
                text-decoration: none;
            }

            .nav-bar-menu ul li img {
                margin-right: 10px;
                margin-left: -17px;
                margin-top: 9px;
                width: 7px;
                height: 7px;
                background: url(images/arrow.gif) no-repeat;
                border: none;
            }

                .nav-bar-menu ul li img.unfold {
                    background-position: 0 -9px;
                }

            .nav-bar-menu ul li a:hover {
                background-color: #ccc;
                background-image: none;
            }