<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CRM_LoginSoap" />
                <binding name="HG_STAFFSoap" />
                <binding name="WS_SSO_TOKEN_TOKENIDINFOSoap" />
                <binding name="UserTokenSoap" />
                <binding name="DuiBiReportSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CRM_LoginSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="HG_STAFFSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="WS_SSO_TOKEN_TOKENIDINFOSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="UserTokenSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="DuiBiReportSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.0.16/API/CRM/CRM_Login.asmx"
                binding="basicHttpBinding" bindingConfiguration="CRM_LoginSoap"
                contract="CRM.CRM_LoginService.CRM_LoginSoap" name="CRM_LoginSoap" />
            <endpoint address="http://192.168.0.16/API/CRM/CRM_Login.asmx"
                binding="customBinding" bindingConfiguration="CRM_LoginSoap12"
                contract="CRM.CRM_LoginService.CRM_LoginSoap" name="CRM_LoginSoap12" />
            <endpoint address="http://192.168.0.135/API/CRM/HG_STAFF.asmx"
                binding="basicHttpBinding" bindingConfiguration="HG_STAFFSoap"
                contract="CRM.HG_STAFFService.HG_STAFFSoap" name="HG_STAFFSoap" />
            <endpoint address="http://192.168.0.135/API/CRM/HG_STAFF.asmx"
                binding="customBinding" bindingConfiguration="HG_STAFFSoap12"
                contract="CRM.HG_STAFFService.HG_STAFFSoap" name="HG_STAFFSoap12" />
            <endpoint address="http://192.168.0.223/API/SSO/WS_SSO_TOKEN_TOKENIDINFO.asmx"
                binding="basicHttpBinding" bindingConfiguration="WS_SSO_TOKEN_TOKENIDINFOSoap"
                contract="SSO.TOKEN_TOKENIDINFOService.WS_SSO_TOKEN_TOKENIDINFOSoap"
                name="WS_SSO_TOKEN_TOKENIDINFOSoap" />
            <endpoint address="http://192.168.0.223/API/SSO/WS_SSO_TOKEN_TOKENIDINFO.asmx"
                binding="customBinding" bindingConfiguration="WS_SSO_TOKEN_TOKENIDINFOSoap12"
                contract="SSO.TOKEN_TOKENIDINFOService.WS_SSO_TOKEN_TOKENIDINFOSoap"
                name="WS_SSO_TOKEN_TOKENIDINFOSoap12" />
            <endpoint address="http://192.168.0.223/API/SSO/UserToken.asmx"
                binding="basicHttpBinding" bindingConfiguration="UserTokenSoap"
                contract="SSO.UserTokenService.UserTokenSoap" name="UserTokenSoap" />
            <endpoint address="http://192.168.0.223/API/SSO/UserToken.asmx"
                binding="customBinding" bindingConfiguration="UserTokenSoap12"
                contract="SSO.UserTokenService.UserTokenSoap" name="UserTokenSoap12" />
            <endpoint address="http://192.168.0.77/API/CRM/DuiBiReport.asmx"
                binding="basicHttpBinding" bindingConfiguration="DuiBiReportSoap"
                contract="RuK.DuiBiReportService.DuiBiReportSoap" name="DuiBiReportSoap" />
            <endpoint address="http://192.168.0.77/API/CRM/DuiBiReport.asmx"
                binding="customBinding" bindingConfiguration="DuiBiReportSoap12"
                contract="RuK.DuiBiReportService.DuiBiReportSoap" name="DuiBiReportSoap12" />
        </client>
    </system.serviceModel>
</configuration>