<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="RemoteAddress" value="http://192.168.8.207/APIB/" />
    <add key="TempletBackgroundPath" value="http://192.168.0.16/API/" />


    <add key="SSOURLIN" value="http://192.168.8.207/SonlukSSO" />
    <add key="SSOURLOUT" value="http://dev.sonluk.com.cn/SonlukSSO" />

  </appSettings>


  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <!--<add name="ConnectionString" connectionString="Data Source=192.168.0.223;Initial Catalog=HGDBDOC;User ID=sa;Password=123456;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=192.168.8.207;Initial Catalog=HGDBDOC;User ID=sa;Password=Abc123;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=192.168.1.103;Initial Catalog=HGDBDOC;User ID=sa;Password=123456;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConnectionString" connectionString="Data Source=10.1.22.1;Initial Catalog=HGDBDOC;User ID=sa;Password=Sonluk2017;" providerName="System.Data.SqlClient"/>-->
    <add name="ConnectionString" connectionString="Data Source=10.1.20.101;Initial Catalog=HGDBDOC;User ID=sa;Password=Abc123;" providerName="System.Data.SqlClient"/>

  </connectionStrings>


  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WS_SSO_TOKEN_TOKENIDINFOSoap" />
        <binding name="UserTokenSoap" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" />
        <binding name="CRM_LoginSoap" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" />
        <binding name="HG_STAFFSoap" sendTimeout="00:10:00" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
      <customBinding>
        <binding name="WS_SSO_TOKEN_TOKENIDINFOSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="UserTokenSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="CRM_LoginSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="HG_STAFFSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.0.223/API/SSO/WS_SSO_TOKEN_TOKENIDINFO.asmx"
          binding="basicHttpBinding" bindingConfiguration="WS_SSO_TOKEN_TOKENIDINFOSoap"
          contract="SSO.TOKEN_TOKENIDINFOService.WS_SSO_TOKEN_TOKENIDINFOSoap"
          name="WS_SSO_TOKEN_TOKENIDINFOSoap" />
      <endpoint address="http://192.168.0.223/API/SSO/WS_SSO_TOKEN_TOKENIDINFO.asmx"
          binding="customBinding" bindingConfiguration="WS_SSO_TOKEN_TOKENIDINFOSoap12"
          contract="SSO.TOKEN_TOKENIDINFOService.WS_SSO_TOKEN_TOKENIDINFOSoap"
          name="WS_SSO_TOKEN_TOKENIDINFOSoap12" />
      <endpoint address="http://192.168.0.223/API/SSO/UserToken.asmx"
          binding="basicHttpBinding" bindingConfiguration="UserTokenSoap"
          contract="SSO.UserTokenService.UserTokenSoap" name="UserTokenSoap" />
      <endpoint address="http://192.168.0.223/API/SSO/UserToken.asmx"
          binding="customBinding" bindingConfiguration="UserTokenSoap12"
          contract="SSO.UserTokenService.UserTokenSoap" name="UserTokenSoap12" />
      <endpoint address="http://192.168.0.16/API/CRM/CRM_Login.asmx"
          binding="basicHttpBinding" bindingConfiguration="CRM_LoginSoap"
          contract="CRM.CRM_LoginService.CRM_LoginSoap" name="CRM_LoginSoap" />
      <endpoint address="http://192.168.0.16/API/CRM/CRM_Login.asmx"
          binding="customBinding" bindingConfiguration="CRM_LoginSoap12"
          contract="CRM.CRM_LoginService.CRM_LoginSoap" name="CRM_LoginSoap12" />
      <endpoint address="http://192.168.0.135/API/CRM/HG_STAFF.asmx"
          binding="basicHttpBinding" bindingConfiguration="HG_STAFFSoap"
          contract="CRM.HG_STAFFService.HG_STAFFSoap" name="HG_STAFFSoap" />
      <endpoint address="http://192.168.0.135/API/CRM/HG_STAFF.asmx"
          binding="customBinding" bindingConfiguration="HG_STAFFSoap12"
          contract="CRM.HG_STAFFService.HG_STAFFSoap" name="HG_STAFFSoap12" />
    </client>
  </system.serviceModel>


</configuration>